.main-wrapper {
  opacity: 0;
}

.navbar--dropdown-trigger.open .nav--arrow {
  transform: rotate(0deg);
}

.container--1440.is--relative {
  max-width: 1480rem;
  overflow-x: clip;
}

.navbar--dropdown--list {
  height: 0px;
  overflow: hidden !important;
}

.filter--options {
  display: none !important;
}

@media screen and (min-width: 1752px) {
  .navbar--menu {
    display: flex !important;
    transform: translate3d(0rem, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg) !important;
  }
  .navbar {
    width: 272rem !important;
  }
}

@keyframes is--scrolling {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-1 * var(--scroll-width)));
  }
}
