.main-wrapper {
  opacity: 0;
}

.navbar--dropdown-trigger.open .nav--arrow {
  transform: rotate(0deg);
}

.navbar--dropdown--list {
  height: 0px !important;
  overflow: hidden !important;
}

.marquee--row {
  white-space: nowrap;
  will-change: transform;
  animation-name: is--scrolling;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: relative;
}

@keyframes is--scrolling {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-1 * var(--scroll-width)));
  }
}
